body {
  margin:0px;
  position:absolute;
  width: 100%;
  height: 100%;
  left:auto;
  margin-left:0;
  margin-right:0;
  text-align:left;
}

#base {
  width: 100%;
  z-index:0;
  background-color: #66ccff;
}

.bottom{ 
    width: 100%;
    height: 30px;
    font-size: 0.8em;
    text-align: center;
}



